@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    margin: 0;
    font-family: Roboto,sans-serif;
    background-color: #f2f2f2;
}

#wrapper {
    display: grid;
    grid-template-rows: 300px auto;
    grid-template-columns: auto 250px;
}

header.navbar {
    background-color: #2c2e36;
}

.top-right {
    background-color: #21242a;
}

main {
    padding: 50px;
}

aside.sidebar {
    background-color: #e1e1e1;
    position: sticky;
    width: 250px;
    height: 100vh;
    top: 0;
    right: 0;
}